<footer class="hidden">
        <div class="container">
            <div class="social text-center">
                <a href="https://www.linkedin.com/in/nikolay-todorov-php/" target="_blank"><i class="fa fa-linkedin"></i></a>
                <a href="https://github.com/nickotodorov"  target="_blank"><i class="fa fa-github"></i></a>
            </div>

            <div class="clear"></div>
            <!--CLEAR FLOATS-->
        </div>
	</footer>
	<section class="copyright">
			<div class="container">
				<div class="row">
					<div class="col-sm-12 text-center">
					  Nik Todorov @{{ currentYear }}<br/>
					  Powered by Angular and Django
					</div>
				</div>
				<!-- / .row -->
			</div>
		</section>
