<section id="aboutUs" class="secPad " *ngIf="UserMetaData" [@scrollAnimation]="state">
        <div class="container" >
            <div class="heading text-center">
                <!-- Heading -->
                <h2> {{ UserMetaData.CandidateDetails.Name }}</h2>
                <p> {{ UserMetaData.CandidateDetails.Intro }}</p>
				</div>
            <div class="row">
                <!-- item -->
                <div class="col-md-4 text-center tileBox" >
                   <div class="txtHead"> <i class="fa fa-database"></i>
                    <h3>{{ UserMetaData.CandidateDetails.CategoryBE}} <span class="id-color">{{ UserMetaData.CandidateDetails.Development}} </span></h3></div>
                   <p *ngFor="let skill of BackendSkills">
							{{ skill.name }}
						</p>
                </div>
                <!-- end: -->

				<div class="col-md-4 text-center tileBox">
						<div class="txtHead"> <i class="fa fa-desktop"></i>
						 <h3>{{ UserMetaData.CandidateDetails.CategoryFE}}  <span class="id-color">{{ UserMetaData.CandidateDetails.Development}}</span></h3></div>
						<p *ngFor="let skill of FrontendSkills">
								 {{ skill.name }}
							 </p>
					 </div>
					 <!-- end: -->
	 

					 <div class="col-md-4 text-center tileBox">
							<div class="txtHead"> <i class="fa fa-bars"></i>
							 <h3>  <span class="id-color">{{ UserMetaData.CandidateDetails.Other }}</span></h3></div>
							<p *ngFor="let skill of Tools">
									 {{ skill.name }}
								 </p>
						 </div>
						 <!-- end: -->
		 
            </div>
        </div>
    </section>
